{% extends "base.html"  %}

{% block title %}Cadastro de Cidadãos {% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Salvar</button>
    </form>
    <table class="table table-striped table-sm">
        <tr>
            <td>Nome</td>
            <td>Email</td>
        </tr>
        {% for cid in pessoas %}
        <tr>
            <td>{{cid.nome}}</td>
            <td>{{cid.email}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
